@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }

.section-1 {
    background-color: #1f2937;
    /* display: flex;
    flex-direction: column;*/

}

nav {
    display: flex;
    font-size: 18px;

    color: #E5E7EB;
    justify-content: space-between;
    padding: 10px 48px;
    margin-bottom: 80px;

  }

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 800;
  }

.nav-links {
    list-style-type: none;
    display: flex;
    gap: 14px;
  }

a {
    text-decoration: none;
    color: #f9faf8;
    font-size: 12px;
  }

.header {
    display: flex;
    padding: 10px 48px;
    margin-bottom: 80px;
    gap: 30px;
    justify-content: space-between;
}

.header-text {
    color: #f9faf8;
    text-align: left;
    max-width: 350px;
}

.header * {
    margin-bottom: 5px;
}

.header-text > h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 800;
}

.header-img img {
    max-width: 570px;
    
}